/* ====
ADD TASK-SECTION
=======*/
.add-task-inputfield-container {
  display: flex;
  max-width: 1000px;
  gap: 64px; 
  margin-top: 32px;
  align-items: flex-start;
  font-size: 20px;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.headline-and-close-button-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;
}

.headline-and-close-button-container h1 {
  font-size: clamp(40px, 8vw, 61px);
}

/* ====
INPUTFIELDS
=======*/

.add-task-inputfield {
  display: flex;
  margin-top: 4px;
  margin-bottom: 24px;
  width: 400px;
  height: 32px;
  padding-left: 16px;
  border-style: solid;
  border-radius: 8px;
  border-width: 0.1px;
  border-color: rgb(178, 177, 177);
  font-size: 18px;
  outline: none;
  /* outline-color: rgb(64,170,248); */
}

.add-task-inputfield::placeholder {
  color: rgb(178, 177, 177) !important; 
}

.add-task-inputfield:hover {
  cursor: pointer;
}

.add-task-highlight-red {
  color: red;
}

#add_task_description {
  height: 104px;
  padding-top: 8px;
  resize: none;
  font-family: "Inter", sans-serif;
}

#add_task_description::placeholder {
  height: 104px;
  resize: none;
}

#add_task_due_date {
  display: block;
  font-family: "Inter", sans-serif;
}

input[type=date]:invalid::-webkit-datetime-edit {
  color: rgb(178, 177, 177);  
}

/* ====
CONTACTS
=======*/

.add-task-inputfield-contacts {
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-color: rgb(209, 209, 209);
  margin-bottom: 0;
}

.add-task-inputfield-arrow {
  padding-right: 4px;
}

#add_task_contacts_content {
  width: 400px;
  height: 156px;
}

.add-task-contacts-container {
  background-color: white;
  width: 400px;
  height: 200px;
  position: sticky;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;;
}

.add-task-contact-checkbox {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 8px;
}

.add-task-contact-icon-and-name {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 80%;
}

.add-task-dividing-line {
  width: 2px;
  height: 320px;
  background-color: lightgray;
} 

/* ====
PRIO-BUTTONS
=======*/

.add-task-prio-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 420px;
}

.add-task-prio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 129px;
  height: 48px;
  color: black;
  font-size: 18px;
  background-color: white;
  border-radius: 4px;
  border-style: solid;
  border-color: rgb(178, 177, 177);
  border-radius: 8px;
  border-width: 0.1px;
}

.add-task-prio-button-red {
  background-color: rgb(255,61,0);
}

.add-task-prio-button-yellow {
  background-color: rgb(255,168,0);
}

.add-task-prio-button-green {
  background-color: rgb(122,226,41);
}

/* ====
SUBTASKS
=======*/

.add-task-subtasks-container {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 30px;
}

#add_task_subtask_plus_button {
  display: flex;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}

#add_task_subtask_plus_button:hover {
  background-color: rgb(209, 209, 209);
  border-radius: 32px;
}

#add_task_new_subtasks_container {
  margin-top: 24px;
  width: 400px;
  height: 100px;
  overflow: auto;
}

.add-task-subtask-and-delete-icon {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}

.add-task-subtask-bin {
  cursor: pointer; 
}


/* ====
FORM-BUTTONS & LEGEND
=======*/

.add-task-legend-and-form-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 870px;
}

.add-task-legend {
  font-weight: 8px;
  align-items: flex-start; 
}

.add-task-clear-and-create-task-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.add-task-clear-button {
  width: 110px;
  color: rgb(43, 54, 71);
  font-weight: 700;
  font-size: clamp(18px, 2vw, 21px);
  border-color: rgb(43, 54, 71);
  border-radius: 10px;
  cursor: pointer;
  }


.add-task-popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.add-task-popup-task-added {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  color: white;
  font-size: 20px;
  background-color: rgb(43, 54, 71);
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  animation: popup 1s ease forwards;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translate(-50%, 150%);
  }

  10% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  90% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 150%);
  }
}

.add-task-board-icon {
  width: 25px;
}