input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

/* TODO Change to class so only contact dropdown checkboxes have this color */
input[type="checkbox"] {
  accent-color: #FFF;
}

/* ====
ADD TASK-SECTION
=======*/

.add-task-inputfield-container {
  display: flex;
  align-items: flex-start;
  gap: clamp(16px, 5vw, 64px);
  margin-top: 32px;
  font-size: clamp(16px, 5vw, 20px);
  position: relative;
}

.add-task-inputfield-column {
  display: flex;
  flex-direction: column;
  width: clamp(100px, 40%, 400px);
}

.headline-and-close-button-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;
}

.headline-and-close-button-container h1 {
  font-size: clamp(40px, 8vw, 61px);
}

/* ====
INPUTFIELDS
=======*/

.add-task-inputfield {
  display: flex;
  margin-top: 4px;
  margin-bottom: 24px;
  height: 32px;
  padding-left: 16px;
  border-style: solid;
  border-radius: 8px;
  border-width: 0.1px;
  border-color: rgb(178, 177, 177);
  font-size: clamp(16px, 5vw, 20px);
  outline: none;
  box-sizing: border-box;

  /* outline-color: rgb(64,170,248); */
}

.add-task-inputfield::placeholder {
  color: rgb(178, 177, 177) !important;
}

.add-task-inputfield:hover {
  cursor: pointer;
}

.add-task-highlight-red {
  color: red;
}

#add_task_description {
  height: 104px;
  padding-top: 8px;
  resize: none;
  font-family: "Inter", sans-serif;
  overflow: auto;
  box-sizing: content-box;
}

#add_task_description::placeholder {
  height: 104px;
  resize: none;
}

#add_task_due_date {
  display: block;
  font-family: "Inter", sans-serif;
}

input[type=date]:invalid::-webkit-datetime-edit {
  color: rgb(178, 177, 177);
}

/* ====
CONTACTS
=======*/

.add-task-inputfield-contacts {
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-color: rgb(209, 209, 209);
  margin-bottom: 0;
}

.add-task-inputfield-arrow {
  padding-right: 16px;
}

#add_task_contacts_content {
  height: 188px;
}

.add-task-contacts-container {
  background-color: white;
  position: sticky;
  max-height: 200px;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.add-task-contact-checkbox {
  display: flex;
  margin: 8px;
}

.add-task-contact-checkbox:hover {
  cursor: pointer;
  background-color: rgb(221, 226, 226);
  border-radius: 8px;
}

.add-task-contact-icon-and-name {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 80%;
}

.add-task-contact-check {
  margin-right: 32px;
}

.add-task-contact-selected,
.add-task-contact-selected:hover {
  background-color: rgb(42, 54, 71);
  color: white;
  border-radius: 8px;
}

/* ====
DIVIDING-LINE
=======*/

.add-task-dividing-line {
  width: 1px;
  height: 320px;
  background-color: lightgray;
}

/* ====
PRIO-BUTTONS
=======*/

.add-task-prio-button-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

.add-task-prio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: calc((100% - 32px)/3);
  height: 48px;
  color: black;
  font-size: clamp(16px, 1vw, 20px);
  background-color: white;
  border-radius: 4px;
  border-style: solid;
  border-color: rgb(178, 177, 177);
  border-radius: 8px;
  border-width: 0.1px;
}

.add-task-prio-button:hover {
  cursor: pointer;
  box-shadow: -2px 2px 2px #ccc;
}

.add-task-prio-button-red:hover,
.add-task-prio-button-yellow:hover,
.add-task-prio-button-green:hover {
  box-shadow: none;
}

.add-task-prio-button-red {
  background-color: rgb(255, 61, 0);
  color: white;
  font-weight: bold;
}

.add-task-prio-button-yellow {
  background-color: rgb(255, 168, 0);
  color: white;
  font-weight: bold;
}

.add-task-prio-button-green {
  background-color: rgb(122, 226, 41);
  color: white;
  font-weight: bold;
}

.add-task-prio-icon-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7457%) hue-rotate(260deg) brightness(96%) contrast(102%);
}

/* ====
CATEGORY
=======*/

.add-task-category {
  width: 100%;
}

/* ====
SUBTASKS
=======*/

.add-task-subtasks-container {
  position: relative;
  display: inline-block;
  height: 30px;
}

.add-task-subtasks-inputfield {
  width: 100%;
}

.add-task-subtask-plus-button {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  right: 0;
  cursor: pointer;
  margin-right: 8px;
}

.add-task-subtask-plus-button:hover {
  background-color: rgb(209, 209, 209);
  border-radius: 32px;
}

.add-task-subtasks-list {
  padding-inline-start: 0;
  overflow-x: hidden;
}

.add-task-new-subtasks-container {
  height: 124px;
  overflow: auto;
  font-size: 16px;
  margin-bottom: 32px;
}

.add-task-subtask-and-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.5;
  overflow: hidden;
  position: relative;
}

.add-task-subtask-and-icons:hover {
  background-color: rgb(221, 226, 226);
  border-radius: 8px;
}

.add-task-subtask-edit-and-delete-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
}

.add-task-subtask-dividing-line {
  display: none;
  width: 1px;
  height: 20px;
  background-color: grey;
}

.add-task-subtask-icon {
  display: none;
  cursor: pointer;
  width: 16px;
}

.add-task-subtask-icon:hover {
  filter: opacity(70%);
}

.add-task-subtask-and-icons:hover .add-task-subtask-icon,
.add-task-subtask-and-icons:hover .add-task-subtask-dividing-line {
  display: block;
}


/* ====
EDIT SUBTASK
=======*/

.add-task-subtask-and-icons-edit-subtask {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-bottom: 2px solid rgb(93, 190, 231);
}

.add-task-subtask-delete-and-check-icons-edit-subtask {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
}

.add-task-subtask-inputfield-edit-subtask {
  font-size: 16px;
  border-style: none;
  outline: none;
  padding-left: 16px;
}

.add-task-subtask-dividing-line-edit-subtask {
  width: 1px;
  height: 20px;
  background-color: grey;
}

.add-task-subtask-icon-edit-subtask {
  cursor: pointer;
  width: 16px;
}

.add-task-subtask-icon-edit-subtask:hover {
  filter: opacity(70%);
}

.add-task-subtask-icon-check-subtask:hover {
  background-color: rgb(209, 209, 209);
  border-radius: 32px;
}

/* ====
FORM-BUTTONS & LEGEND
=======*/

.add-task-legend-and-form-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-task-legend {
  font-size: 16px;
}

.add-task-legend-responsive-design {
  display: none;
}

.add-task-clear-and-create-task-buttons-desktop-design {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.add-task-clear-and-create-task-buttons-responsive-design {
  display: none;
  justify-content: flex-end;
  gap: 16px;
}

.add-task-create-task-button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: rgb(43, 54, 71);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: clamp(18px, 2vw, 21px);
}

.add-task-clear-button {
  width: 110px;
  color: rgb(43, 54, 71);
  font-weight: 700;
  font-size: clamp(18px, 2vw, 21px);
  border-color: rgb(43, 54, 71);
  border-radius: 10px;
  cursor: pointer;
}

.add-task-clear-button:hover {
  color: rgb(40, 171, 226);
  border-color: rgb(40, 171, 226);
  box-shadow: -2px 2px 2px #ccc;
}

.add-task-clear-button:hover>img {
  filter: brightness(0) saturate(100%) invert(53%) sepia(93%) saturate(425%) hue-rotate(154deg) brightness(93%) contrast(89%);
}

.add-task-popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.add-task-popup-task-added {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  color: white;
  font-size: 20px;
  background-color: rgb(43, 54, 71);
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  animation: popup 1s ease forwards;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translate(-50%, 150%);
  }

  10% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  90% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 150%);
  }
}

.add-task-board-icon {
  width: 25px;
}

/* ================
RESPONSIVE-DESIGN
===================*/

/* Break point 1 (1090px)*/
@media (max-width: 1090px) {

  .add-task-form-container {
    margin-left: 0;
  }

  .headline-and-close-button-container {
    margin-top: 32px;
    margin-left: 32px;
  }

  .add-task-inputfield-container {
    flex-direction: column;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
  }

  .add-task-inputfield-column {
    width: 100%;
  }

  #add_task_contacts_content {
    height: 0;
  }

  .add-task-legend-desktop-design {
    display: none;
  }

  .add-task-legend-responsive-design {
    display: block;
  }

  .add-task-dividing-line {
    display: none;
  }

  #add_task_new_subtasks_container {
    height: 80px;
    margin-bottom: 0;
  }

  .add-task-legend-and-form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    height: 80px;
    box-sizing: border-box;
    margin-bottom: 0;
    padding-left: 32px;
    padding-right: 32px;
    z-index: 2;
    background-color: rgb(246, 247, 248);
  }

  .add-task-clear-and-create-task-buttons-desktop-design {
    display: none;
  }

  .add-task-clear-and-create-task-buttons-responsive-design {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}

/* Break point 2 (850px)*/
@media (max-width: 850px) {

  .add-task-form-container {
    margin-bottom: 80px;
  }

  .headline-and-close-button-container {
    margin-left: 16px;
  }

  .add-task-inputfield-container {
    margin-left: 16px;
    margin-right: 16px;
  }

  .add-task-inputfield-column {
    width: 100%;
  }

  .add-task-legend-and-form-buttons {
    position: sticky;
    bottom: 82px;
    /* ändern, falls sidebar ändern */
    left: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .add-task-clear-button {
    display: none;
  }
}

/* Break point 3 (420px)*/
@media (max-width: 370px) {
  .add-task-prio-button {
    font-size: 14px;
    gap: 4px;
  }

  .add-task-contacts-container {
    max-height: 150px;
  }

  .add-task-prio-icon {
    width: 14px;
  }

  .add-task-button-responsive {
    font-size: 16px;
    white-space: nowrap;
  }
}