/* ====
ADD TASK-SECTION
=======*/

.add-task-section {
  display: flex;
  align-items: flex-start;
  margin-left: 32px;
  margin-right: 32px;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% / 2);
  margin: 32px;
}

.headline-and-close-button-container {
  display:flex;
  justify-content: space-between;
}

.add-task-inputfield {
  margin-top: 4px;
  margin-bottom: 24px;
  width: 400px; 
  height: 30px;
  border-radius: 8px;
  display: flex;
}

.add-task-highlight-red {
  color: red;
}

.add-task-legend {
  font-weight: 8px;
}

.add-task-prio-button {
  border: none;
  border-radius: 4px;
  color: black;
  background-color: white;
  padding: 8px;
}

.add-task-prio-button-red {
  background-color: red;
}

.add-task-prio-button-yellow {
  background-color: yellow;
}

.add-task-prio-button-green {
  background-color: green;
}

.add-task-subtasks-container {
  position: relative;
  display: inline-block;
  width: 400px; 
  height: 30px;
}

#add_task_subtask_plus_button {
  display: flex;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}

#add_task_subtask_plus_button:hover {
background-color: lightgray;
border-radius: 32px;
}

#add_task_new_subtasks_container{
  margin-top: 24px;
  width: 400px; 
  height: 100px;
  overflow: auto; 
}

.add-task-clear-and-create-task-buttons {
  display: flex;
  justify-content: flex-end;
}

.add-task-popup {
  display: none;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 24px;
}