/* ====
ADD TASK-SECTION
=======*/

.add-task-section {
    display:flex;
    margin-left: 32px;
    margin-right: 32px;
  }
  
  .add-task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 2);
    margin: 32px;
  }
  
  .add-task-inputfield {
    margin-top: 4px;
    margin-bottom: 24px;
    border-radius: 8px;
  }
  
  .add-task-highlight-red {         
    color:red;                           
  }
  
  .add-task-legend {
    font-weight: 8px;
  }
  
  .add-task-prio-button{
    border: none;
    border-radius: 4px;
    color: black;
    background-color: white;
    padding: 8px;
  }

  .add-task-prio-button-red{
    background-color: red;
  }

  .add-task-prio-button-yellow{
    background-color: yellow;
  }

  .add-task-prio-button-green{
    background-color: green;
  }
  
  .add-task-clear-and-create-task-buttons{
    display: flex;
    justify-content: flex-end
  }