/* ====
ADD TASK-SECTION
=======*/
/* ==========
HEADLINE
==============*/
.headline-and-close-button-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.headline-and-close-button-container h1 {
  font-size: clamp(40px, 8vw, 61px);
}
/* ===========
INPUT & CONTENT
===============*/
.add-task-input-section {
  display: flex;
  padding-inline: 40px;
  justify-content: space-between;
}

.arrange-add-task-form {
  display: flex;
  flex-direction: column;
}
.arrange-add-task-form input,
select {
  width: clamp(250px, 24vw, 400px);
  height: 30px;
  border-radius: 8px;
  padding-left: 10px;
}
.add-task-input-section-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.add-task-input-section-column p {
  margin-bottom: 5px;
}
.add-task-input-section-column textarea {
  height: 130px;
  width: clamp(250px, 24vw, 400px);
  padding: 10px;
  border-radius: 10px;
}
.dividing-line {
  width: 2px;
  height: 320px;
  background-color: red;
}

#board_largeview_closebutton {
  width: 32px;
}

.add-task-highlight-red {
  color: red;
  padding-left: 2px;
}
/* ====
PRIO
=======*/
.add-task-prio-button {
  border: none;
  border-radius: 4px;
  color: black;
  background-color: white;
  padding: 8px;
}

.add-task-prio-button-red {
  background-color: red;
}

.add-task-prio-button-yellow {
  background-color: yellow;
}

.add-task-prio-button-green {
  background-color: green;
}
/* =============
ADD NEW SUBTASK
=================*/
.add-task-subtasks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  height: 30px;
  width: clamp(250px, 24vw, 400px);
}
#add_task_subtasks_inputfield {
  outline: none;
  border: none;
  flex-grow: 1;
}

#add_task_subtask_plus_button:hover {
  background-color: lightgray;
  border-radius: 32px;
}

#add_task_new_subtasks_container {
  margin-top: 24px;
  width: 400px;
  height: 100px;
  overflow: auto;
}

/* =============
LEGEND & BUTTONS
================*/
.add-task-legend-and-buttons-section {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.add-task-clear-and-create-task-buttons {
  display: flex;
}

.add-task-popup {
  display: none;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 24px;
}
