  .add-task-popup {
    display: none;
    max-width: 1000px;
    min-width: 800px;
    height: 75%;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 24px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .headline-and-close-button-container {
    justify-content: space-between;
    padding-left: 32px;
  }

  #board_largeview_closebutton {
    margin-right: 56px;
  }

  .add-task-inputfield-container {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    gap: 80px;

  }

  /* #board_largeview_closebutton:hover {
  
} */

.add-task-legend-and-form-buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 64px;
}


.add-task-clear-button {
  background-color: white; 
  }