body {
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 100vh;
}

h1,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.sidebar-and-mainContent {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.header-and-mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}
/* ====
BOARD
=======*/
.board {
  padding-top: 40px;
  padding-inline: clamp(10px, 2vw, 50px);
  background-color: rgb(246, 247, 248);
}
/* ==========
  BOARD-HEADER
  =============*/
.board-section-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}

.board-section-header-div h1 {
  font-size: clamp(45px, 5vw, 61px);
}

.board-section-header-find-and-add-task-div {
  display: flex;
  gap: 40px;
}
.input-box-largeScreen {
  width: clamp(280px, 25vw, 300px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #a8a8a8;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  padding: 10px;
}

.input-box-largeScreen input {
  outline: none;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-right: 2px solid #a8a8a8;
  flex-grow: 1;
}

.input-box-largeScreen img {
  padding-left: 15px;
}

.board-section-header-div2 {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
}
/* ===========
MOBILE HEADER
==============*/
.add-task-mobile {
  display: none;
  height: clamp(30px, 8vw, 50px);
  width: clamp(30px, 8vw, 50px);
}

.input-box-smallScreen {
  display: none;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #a8a8a8;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  margin-block: 20px;
}
.input-box-smallScreen input {
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-right: 2px solid #a8a8a8;
  flex-grow: 1;
}
.input-box-smallScreen img {
  padding-left: 20px;
}
/* ========================
  BOARD-MAIN-CONTENT LAYOUT
  =========================*/
.board-section-mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.board-mainContent-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 150px;
}

.board-mainContent-titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.board-mainContent-titleDiv img {
  cursor: pointer;
}

.noTasks-toDo {
  padding: 10px;
  border: 2px dotted black;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  color: rgb(155, 155, 155);
}

/* ===============
STYLE OF ONE TASK 
===================*/
.board-task-container-overview {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: min-content;
  padding: 16px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 3px #00000014;
  word-break: break-all;
  margin-bottom: 10px;
}

.board-task-container-overview:hover {
  cursor: pointer;
  cursor: grab;
  transform: rotate(3deg);
}

.board-task-category-and-move-options {
  display: flex;
  justify-content: space-between;
}
.board-task-category-and-move-options img {
  cursor: pointer;
}

.moving-options-popup {
  padding-top: 10px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 2px solid rgb(41, 54, 71);
  background-color: rgb(41, 54, 71);
}
.moving-options-popup h3 {
  color: rgb(40, 171, 226);
}
.moving-options-popup button {
  cursor: pointer;
  height: 40px;
  width: 150px;
}
.moving-options-popup button:hover{
  color: white;
  font-weight: bold;
  background-color: rgb(40, 171, 226);
}

.moving-options-popup button:last-of-type {
  border-radius: 0 0 15px 15px;
}

.board-task-category {
  width: 113px;
  height: 27px;
  padding: 4px, 16px, 4px, 16px;
  border-radius: 8px;
  background: #0038ff;
  color: white;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-task-title {
  width: 220px;
  font-size: 16px;
  font-weight: 700;
}

.board-task-description {
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
}

.board-task-subtask-container {
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 16px;
}

.board-task-progress {
  width: 50%;
  height: 8px;
  background-color: rgb(244, 244, 244);
  border-radius: 32px;
}

.board-task-progress-bar {
  background-color: rgb(68, 137, 255);
  height: 8px;
  width: 0%;
  border-radius: 32px;
}

.board-task-container-contacts-and-prio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#to_do_container,
#In_Progress_Content,
#Await_Feedback_Content,
#Done_Content {
  height: 100%;
  position: relative;
}

.drag-area-hightlight {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px dashed black;
  border-radius: 20px;
}
/* ========================
  BOARD-LARGEVIEW-CONTAINER
  =========================*/
.board-task-container-largeview {
  background-color: white;
  width: 320px;
  /* TODO Change height to same as edit dialog */
  height: auto;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #00000029;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 36px;
  word-break: break-all;
  z-index: 3;
  animation: slideIn 0.5s ease-out forwards;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.board-task-category-and-closebutton-container {
  display: flex;
  justify-content: space-between;
}

.board-task-category-largeview {
  padding: 5px;
}

.board-task-title-largeview {
  font-size: 40px;
  font-weight: 700;
  word-break: auto-phrase;
}

.board-task-description-largeview {
  font-size: 20px;
  font-weight: 400;
}

/* =================
DUE DATE + PRIORITY
===================*/
.board-task-dueDate-and-priority {
  display: flex;
  gap: 30px;
  font-size: 20px;
}
.arrange-dueDate-and-priority {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.board-task-largeview-color {
  color: rgb(125, 136, 156);
}
.board-task-prio-icon {
  padding-left: 4px;
}

/* ========
ASSIGNED TO
===========*/
.board-task-assigned-to-largeview {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}

.board-task-contacticon-and-name {
  padding-left: 16px;
  font-size: 20px;
}
/* ======
SUBTASKS
=========*/
.board-task-subtasks-container-largeview {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}

.board-task-subtasks-largeview {
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-size: 16px;
}
.board-task-subtasks-largeview input:hover {
  cursor: pointer;
}
/* ====================
DELETE & EDIT LARGEVIEW
========================*/
#Board_Task_Delete_Button:hover img {
  content: url("./assets/img/deleteTaskHover.png");
}
#Board_Task_Edit_Button:hover img {
  content: url("./assets/img/editTaskHover.png");
}
.board-task-delete-and-edit-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  font-size: 16px;
}

.board-task-largeview-icon {
  display: flex;
  align-items: center;
  gap: 4px;
}

.board-task-largeview-icon:hover {
  color: rgb(40, 171, 226);
  font-weight: bold;
  cursor: pointer;
}
/* =======================
DELETE TASK CONFIRM POP-UP
========================*/
.deleteTaskNotification {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideIn 0.5s ease-out forwards;
  background-color: white;
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.deleteTaskNotification button {
  background-color: rgb(41, 54, 71);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.deleteTaskNotification button:hover {
  background-color: rgb(40, 171, 226);
  color: rgb(41, 54, 71);
  cursor: pointer;
  filter: drop-shadow(2px 4px 6px black);
}

/* =========
EDIT TASK
============*/
#Edit_Task_Container {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 36px;
  width: 400px;
  height: 800px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  font-size: 20px;
}
#edit_task_contacts_content {
  position: relative;
  width: 100%;
}
.positionCloseButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.hoverCloseButton:hover {
  cursor: pointer;
  background-color: rgb(246, 247, 248);
  border-radius: 32px;
}
.editSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-family: "Inter", sans-serif;
}
.inputAndTextareaSettings {
  width: 100%;
  padding-left: 8px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
.editSection textarea {
  height: 50px;
}
.edit-task-prio-button-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%; 
}
.edit-task-check-button-section {
  display: flex;
  justify-content: flex-end;
}
.edit-task-position-check-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.edit-task-subtasks-list {
  width: 100%;
  max-height: 80px; 
  overflow: auto;
  font-size: 16px;
  margin-top: 8px;
}

/* ================================
ARROWS WHEN CONTAINER HAS MANY TASKS
====================================*/
.arrow-right {
  display: none;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow-left {
  display: none;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.d-none {
  display: none;
}
/* ==========
MEDIA-QUERIES 
=============*/
@media (max-width: 1250px) {
  .board-section-mainContent {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1090px) {
  .board-section-mainContent {
    grid-template-columns: 1fr;
    overflow-x: auto;
  }
  .hide-add-task-button-largeScreen {
    display: none;
  }
  .add-task-mobile {
    display: flex;
    cursor: pointer;
  }
  .board-section-header-find-and-add-task-div {
    gap: 15px;
  }
  .board-task-container-overview {
    width: 250px;
  }
  .board-mainContent-container {
    overflow-x: hidden;
    position: relative;
  }
  #to_do_container,
  #In_Progress_Content,
  #Await_Feedback_Content,
  #Done_Content {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    padding-block: 10px;
    scroll-behavior: smooth;
  }
  #to_do_container::-webkit-scrollbar,
  #In_Progress_Content::-webkit-scrollbar,
  #Await_Feedback_Content::-webkit-scrollbar,
  #Done_Content::-webkit-scrollbar {
    display: none;
  }
  .board-task-container-overview {
    margin-bottom: unset;
  }
}

@media (max-width: 850px) {
  .board-section-mainContent:last-child {
    padding-bottom: 80px;
  }
}

@media (max-width: 600px) {
  .board-section-header-div {
    padding-bottom: unset;
  }
  .input-box-largeScreen {
    display: none;
  }
  .input-box-smallScreen {
    display: flex;
  }
}

/* ==============
ASSIGNED CONTACTS
=================*/
.board-task-contact-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.board-task-contact-icons .button-name:not(:first-child) {
  margin-left: -10px;
}

.show-amount-of-hidden-contacts {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(42, 54, 71);
  border: 1px solid rgb(42, 54, 71);
  background-color: rgb(40, 171, 226);
  margin-left: -10px;
}
.item:not(:first-child) {
  margin-left: -10px;
}

/* =========
EDIT TASK
============*/
/* .edit-Task-assigned-contacts-icon{

} */
