body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

h1,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* ====
BOARD
=======*/
.board {
  padding-top: 40px;
  padding-inline: 60px;
  background-color: rgb(246, 247, 248);
  min-height: 100vh;
}

/* ==========
  BOARD-HEADER
  =============*/
.board-section-header-div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.board-section-header-div1 h1 {
  font-size: 35px;
}

.board-section-header-find-task-div {
  display: flex;
  gap: 40px;
}

.board-section-header-find-task-div input {
  width: 250px;
}

.board-section-header-find-task-div input {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.board-section-header-div2 {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
}

/* ===============
  BOARD-MAIN-CONTENT
  ==================*/
.board-section-mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.board-mainContent-container {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.board-mainContent-titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noTasks-toDo {
  padding: 10px;
  border: 2px dotted black;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  color: rgb(155, 155, 155);
}

.board-task-container-overview {
  width: 252px;
  height: auto;
  padding: 16px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 3px #00000014;
  margin-bottom: 16px;
  word-break: break-all;
}

.board-task-container-overview:hover {
  cursor: pointer;
}

.board-task-category {
  width: 113px;
  height: 27px;
  padding: 4px, 16px, 4px, 16px;
  border-radius: 8px;
  background: #0038ff;
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-task-title {
  width: 220px;
  font-size: 16px;
  font-weight: 700;
  padding-top: 16px;
  /* font-family: Inter; */
}

.board-task-description {
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
  padding-top: 8px;
  /* font-family: Inter; */
}

.board-task-subtask-container {
  display: flex;
  align-items: center;
  padding-top: 16px;
  font-size: 13px;
  gap: 16px;
}

.board-task-progress {
  width: 0;
  height: 8px;
  background-color: rgb(244, 244, 244);
  border-radius: 32px;
}

.board-task-progress-bar {
  background-color: #0038ff;
  height: 8px;
  width: 0;
  border-radius: 32px;
}

.board-task-container-contacts-and-prio {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 220px;
  height: 32px;
  padding-top: 16px;
}

/* ============== 
  BOARD-LARGEVIEW-CONTAINER
  ==================*/

.board-task-container-largeview {
  background-color: white;
  width: 320px;
  height: auto;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #00000029;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 36px;
  word-break: break-all;
}

.board-task-category-and-closebutton-container {
  display: flex;
  justify-content: space-between;
}

#board_largeview_closebutton:hover {
  cursor: pointer;
  background-color: rgb(246, 247, 248);
  border-radius: 32px;
}

.board-task-category-largeview {
  font-size: 20px;
  width: 128px;
  height: 32px;
}

.board-task-title-largeview {
  font-size: 56px;
  font-weight: 700;
  padding-top: 16px;
  /* font-family: Inter; */
}

.board-task-description-largeview {
  font-size: 20px;
  font-weight: 400;
  padding-top: 16px;
  /* font-family: Inter; */
}

.board-task-duedate-largeview {
  padding-top: 16px;
  font-size: 20px;
}

.board-task-largeview-color {
  color: rgb(125, 136, 156);
  padding-right: 24px;
}

.board-task-largeview-padding-right {
  padding-right: 36px;
}

.board-task-priority-largeview {
  font-size: 20px;
  font-weight: 400;
  padding-top: 16px;
  /* font-family: inter; */
}

.board-task-prio-icon {
  padding-left: 4px;
}

.board-task-assigned-to-largeview {
  padding-top: 16px;
  font-size: 20px;
}

.board-task-contacticon-and-name {
  padding-top: 24px;
  padding-left: 16px;
  font-size: 20px;
}

.board-task-subtasks-container-largeview {
  padding-top: 24px;
  padding-bottom: 16px;
  font-size: 20px;
}

.board-task-subtasks-largeview {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 16px;
}

.board-task-delete-and-edit-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
  padding-right: 8px;
  gap: 16px;
  font-size: 16px;
}

.board-task-largeview-icon {
  display: flex;
  align-items: center;
  gap: 4px;
}

.board-task-largeview-icon:hover {
  cursor: pointer;
}
