body {
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 100vh;
}

h1,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.sidebar-and-mainContent {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.header-and-mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}
/* ====
BOARD
=======*/
.board {
  padding-top: 40px;
  padding-inline: clamp(10px, 2vw, 50px);
  background-color: rgb(246, 247, 248);
}
/* ==========
  BOARD-HEADER
  =============*/
.board-section-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}

.board-section-header-div h1 {
  font-size: clamp(45px, 5vw, 61px);
}

.board-section-header-find-and-add-task-div {
  display: flex;
  gap: 40px;
}
.input-box-largeScreen {
  width: clamp(250px, 25vw, 300px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #a8a8a8;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  padding: 10px;
}

.input-box-largeScreen input {
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-right: 2px solid #a8a8a8;
  flex-grow: 1;
}

.input-box-largeScreen img {
  padding-left: 15px;
}

.board-section-header-div2 {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
}
/* ===========
MOBILE HEADER
==============*/
.add-task-mobile {
  display: none;
  height: clamp(30px, 8vw, 50px);
  width: clamp(30px, 8vw, 50px);
}
.input-box-smallScreen {
  display: none;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #a8a8a8;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  margin-block: 20px;
}
.input-box-smallScreen input {
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-right: 2px solid #a8a8a8;
  flex-grow: 1;
}
.input-box-smallScreen img {
  padding-left: 20px;
}
/* ===============
  BOARD-MAIN-CONTENT
  ==================*/
.board-section-mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.board-mainContent-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 150px;
}

.board-mainContent-titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noTasks-toDo {
  padding: 10px;
  border: 2px dotted black;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  color: rgb(155, 155, 155);
}

.board-task-container-overview {
  height: auto;
  padding: 16px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 3px #00000014;
  word-break: break-all;
  margin-bottom: 10px;
}

.board-task-container-overview:hover {
  cursor: pointer;
  cursor: grab;
  transform: rotate(3deg);
}

.board-task-category {
  width: 113px;
  height: 27px;
  padding: 4px, 16px, 4px, 16px;
  border-radius: 8px;
  background: #0038ff;
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-task-title {
  width: 220px;
  font-size: 16px;
  font-weight: 700;
  padding-top: 16px;
  /* font-family: Inter; */
}

.board-task-description {
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
  padding-top: 8px;
  /* font-family: Inter; */
}

.board-task-subtask-container {
  display: flex;
  align-items: center;
  padding-top: 16px;
  font-size: 13px;
  gap: 16px;
}

.board-task-progress {
  width: 0;
  height: 8px;
  background-color: rgb(244, 244, 244);
  border-radius: 32px;
}

.board-task-progress-bar {
  background-color: #0038ff;
  height: 8px;
  width: 0;
  border-radius: 32px;
}

.board-task-container-contacts-and-prio {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}
#to_do_container,
#In_Progress_Content,
#Await_Feedback_Content,
#Done_Content {
  height: 100%;
  position: relative;
}

.drag-area-hightlight {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px dashed black;
  border-radius: 20px;
}
/* ========================
  BOARD-LARGEVIEW-CONTAINER
  =========================*/
.board-task-container-largeview {
  background-color: white;
  width: 320px;
  height: auto;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #00000029;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 36px;
  word-break: break-all;
}

.board-task-category-and-closebutton-container {
  display: flex;
  justify-content: space-between;
}

#Board_Largeview_Closebutton:hover {
  cursor: pointer;
  background-color: rgb(246, 247, 248);
  border-radius: 32px;
}

.board-task-category-largeview {
  font-size: 20px;
  width: 128px;
  height: 32px;
}

.board-task-title-largeview {
  font-size: 56px;
  font-weight: 700;
  padding-top: 16px;
}

.board-task-description-largeview {
  font-size: 20px;
  font-weight: 400;
  padding-top: 16px;
}

/* =================
DUE DATE + PRIORITY
===================*/
.board-task-dueDate-and-priority {
  display: flex;
  gap: 30px;
  padding-block: 15px;
  font-size: 20px;
}
.arrange-dueDate-and-priority {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.board-task-largeview-color {
  color: rgb(125, 136, 156);
}
.board-task-prio-icon {
  padding-left: 4px;
}

/* ========
ASSIGNED TO
===========*/
.board-task-assigned-to-largeview {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}

.board-task-contacticon-and-name {
  padding-left: 16px;
  font-size: 20px;
}

.board-task-subtasks-container-largeview {
  padding-top: 24px;
  padding-bottom: 16px;
  font-size: 20px;
}

.board-task-subtasks-largeview {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 16px;
}

.board-task-delete-and-edit-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
  padding-right: 8px;
  gap: 16px;
  font-size: 16px;
}

.board-task-largeview-icon {
  display: flex;
  align-items: center;
  gap: 4px;
}

.board-task-largeview-icon:hover {
  cursor: pointer;
}

/* ================================
ARROWS WHEN CONTAINER HAS MANY TASKS
====================================*/
.arrow-right {
  display: none;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow-left {
  display: none;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.d-none {
  display: none;
}
/* ==========
MEDIA-QUERIES 
=============*/
@media (max-width: 1250px) {
  .board-section-mainContent {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1090px) {
  .board-section-mainContent {
    grid-template-columns: 1fr;
    overflow-x: auto;
  }
  .hide-add-task-button-largeScreen {
    display: none;
  }
  .add-task-mobile {
    display: flex;
    cursor: pointer;
  }
  .board-section-header-find-and-add-task-div {
    gap: 15px;
  }
  .board-task-container-overview {
    width: 250px;
  }
  .board-mainContent-container {
    overflow-x: hidden;
    position: relative;
  }
  #to_do_container,
  #In_Progress_Content,
  #Await_Feedback_Content,
  #Done_Content {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-block: 10px;
  }
  .board-task-container-overview {
    margin-bottom: unset;
  }
}

@media (max-width: 600px) {
  .board-section-header-div {
    padding-bottom: unset;
  }
  .input-box-largeScreen {
    display: none;
  }
  .input-box-smallScreen {
    display: flex;
  }
}
