/* CONTACT-CONTAINER */
html,
body {
  overflow-x: hidden;
  position: relative;

}

.parting-line-main-page {
  border: 1px solid rgb(93, 190, 231);
  height: 40px;
}


.new-contacts {
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person_add {
  height: 32px;
  width: 32px;
}

.button-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 54, 71, 1);
  color: white;
  width: 352px;
  height: 56px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 21px;
  padding: 12px 0px 12px 0px;
  gap: 16px;
}

.button-contact:hover {
  background-color: rgb(0, 204, 255);
  cursor: pointer;
}

.contacts {
  display: flex;
  align-items: center;
  padding: 15px 24px 15px 24px;
  font-size: 20px;
  height: 78px;
  gap: 35px;
  border-radius: 10px;
}

.contacts-onclick {
  background-color: rgb(42, 54, 71, 1);
  color: white;

}

.contacts:hover {
  background-color: rgb(209, 209, 209);
  cursor: pointer;
}

.names {
  gap: 5px;
  font-size: 20px;

}

.mail {
  font-size: 19px;
  color: rgb(0, 124, 238);
}

.button-name {
  height: 42px;
  width: 42px;
  border-radius: 80px;
  background-color: rgba(355, 122, 0, 1);
  color: white;
  font-size: 12px;
  border-color: white;
  border-width: 2px;
  border-style: solid;

}

.create-contact {
  background-color: rgb(42, 54, 71, 1);
  color: white;
  height: 57px;
  border: 1px solid;
  border-radius: 10px;
  padding: 16px;
  gap: 4px;
  font-size: 21px;
  font-weight: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.create-contact:hover {
  cursor: pointer;
  background-color: rgb(0, 204, 255);
}

.cancel {
  height: 56px;
  width: 130px;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 16px;
  font-size: 24px;
  background-color: white;
}

.cancel:hover {
  cursor: pointer;
  color: rgb(0, 204, 255);
  border: 1px solid rgb(0, 204, 255);
}

.cancel-and-ceate {
  display: flex;
  gap: 24px;
}


.container1 {
  height: calc(100vh - 100px);
  width: 456px;
  border-right: 1px lightgray solid;
  background-color: white;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.all-container {
  display: flex;
  box-shadow: 0px 20px 30px grey;
}

.container2 {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgb(246, 247, 248);
  padding: 30px;
  height: 73px;
  font-size: 40px !important;
  box-shadow: 0px 0px 0px grey;

}

.container2 h1 {
  font-size: 73px;
}

.container2 p {
  font-size: 32px;
}

.parting-line {
  border: 1px solid rgb(93, 190, 231);
  width: 76px;
  margin-top: 10px;
}

.contact-parting-line {
  width: 352px;
  height: 16px;
  padding: 8px 0px 8px 0px;
  gap: 10px;
  color: rgba(209, 209, 209, 1);
  padding-left: 20px;

}

.name-letter {
  height: 28px;
  font-size: 20px;
  line-height: 24px;
  padding: 17px 36px 17px 36px;
  gap: 8px;
  line-height: 24px;

}

.backround-new-contact-container {
  background-color: rgb(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transform: translateX(2000px);
  transition: all 225ms ease-in-out;
}

.add-contact {
  height: 594px;
  background-color: rgb(42, 54, 71);
  color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0px 48px 66px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-contact h1 {
  font-size: 73px
}

.add-contact p {
  font-size: 27px;
}

.form {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  padding: 13px 21px 13px 21px;
  gap: 10px;
  width: 366px;
  border: 1px lightgrey;

}

.form input {
  width: 422px;
  height: 50px;
  gap: 8px;
  border-radius: 10px;
  justify-content: space-between;
  padding-left: 20px;
  font-size: 20px;
}

.picture-and-form-contact {
  height: 594px;
  width: 600px;
  display: flex;
  align-items: center;
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0px 48px 66px 48px;
}


.new-contact-push {
  width: auto;
  background-color: rgb(246, 247, 248);
  position: absolute;
  padding-left: 35px;
  gap: 21px;
  z-index: 1;
  transform: translateX(1400px);
  transition: all 225ms ease-in-out;
}

.animate {
  transform: translateX(0px);

}

/* css für Kontakte die eingeblendet werden! */
.contacts-list {
  display: flex;
  align-items: center;
  gap: 54px;
}

.contacts-name {
  font-family: Inter;
  font-size: 47px;
  font-weight: 500;
  text-align: left;

}

.edit-delet {
  display: flex;
  gap: 8px;
  font-size: 16px;
}

.edit-delet p:hover {
  cursor: pointer;
}

.edit-delet img p {
  width: 24px;
  height: 24px;
}

.edit-delet p {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.button-name-contacts {
  width: 120px;
  height: 120px;
  border-radius: 70px;
  font-size: 47px;
  color: white;
  background-color: rgb(255, 122, 0);
  border: none
}

.contact-information {
  height: 74px;
  gap: 59px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

a {
  color: rgb(0, 124, 238);
}

.name-email-phone {
  font-size: 16px;
  font-weight: 700;
}

.orange {
  background-color: orange;
}

.join-png {
  height: 66.48px;
  width: 55.6px;
}

.edit-contact-background {
  background-color: rgb(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  width: 467px;
  height: 594px;
  padding: 66px, 48px, 66px, 48px;
  gap: 12px;
  background-color: rgb(42, 54, 71);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-one p {
  color: white;
  font-size: 61px;
}

.edit-one img {
  width: 53.93px;
  height: 66.48px;

}

.edit-two {
  height: 594px;
  width: 650px;
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 40px;
  display: flex;
  align-items: center;
}

.edit-button-contact {
  width: 120px;
  height: 120px;
  border-radius: 80px;
  font-size: 47px;
  color: white;
  background-color: rgb(255, 122, 0);
  border: none;

}

.d-none {
  display: none;
}

.container-and-new-contact-push {
  background-color: rgb(246, 247, 248);
  height: calc(100vh - 100px);

}

.header-and-mainContent {
  overflow-y: hidden;
}



/* css für Media */
@media (max-width:1260px) {
  .contact-parting-line {
    width: 290px;
  }

  .container1 {
    padding: 32px 0px;
  }
}

@media (max-width:1170px) {
  .picture-and-form-contact {
    padding: 0px 0px 0px 0px;
  }

  .add-contact {

    padding: 0px 0px 0px 30px;
  }

  .form {
    padding-left: 0px;
  }

  .edit {
    width: 338px;
    height: 480px;
  }

  .edit-two {
    width: auto;
    height: 480px;
    padding-left: 2px;
  }

  .form input {
    width: auto;
  }

  .button-contact {
    width: 250px;
  }

  .contact-parting-line {
    width: 280px;
  }

  .contacts {
    gap: 15px;
    width: 280px;
  }

  .new-contact-push {
    padding-left: 15px;
  }
}

@media (max-width:1060px) {
  .container2 h1 {
    font-size: 60px;
  }

  .contacts-name {
    font-size: 43px;
  }

  .button-name-contacts {
    margin-right: -40px;
  }

}

@media (max-width:1009px) {
  .container-and-new-contact-push {
    position: absolute;
    width: 100%;
    transform: translateX(0px);
    transition: all 225ms ease-in-out;

  }

  .d-none-mobile {
    display: none;

  }

  .d-block {
    display: block;
  }

  .mobile-back {
    position: absolute;
    top: 110px;
    right: 265px;
    cursor: pointer;
    position: fixed;
  }


  .button-contact {
    width: 352px;
  }

  .contact-parting-line {
    width: 330px;
  }

  .contacts {
    width: 300px;
  }

  .menu-mobile {
    position: fixed;
    bottom: 60px;
    right: 260px;
    cursor: pointer;
    border-radius: 80px;
  }

  .container1 {
    width: 100%;

  }
  .mobile-animate{
    transform: translateX(0px);
  }

  .edit-delet {
    background-color: white;
    padding: 14px;
    width: fit-content;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: fixed;
    flex-direction: column;
    bottom: -240px;
    right: -250px;
    display: none;

  }
  .mobile-contacts {
    position: absolute;
    right: 60px;
    bottom: 85px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    cursor: pointer;
    position: fixed;
  }
}
@media (max-width:920px){
  .edit-delet{
    right: -150px;
  }
}
@media (max-width:850px) {
  .container2 h1 {
    font-size: 47px;
  }

  .container2 p {
    font-size: 24px;

  }

  .container1 {
    height: calc(100vh - 210px);
    padding: 0px 24px 32px 15px;
  }

  .container2 {
    height: 88px;
    width: 213px;
    flex-direction: column;
    gap: 8px;
    padding-left: 8px;
  }

  .parting-line-main-page {
    display: none;
  }

  .backround-new-contact-container {
    display: flex;
    flex-direction: column;
  }

  .edit-contact-background {
    flex-direction: column;

  }

  .edit {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 30px;
    height: 300px;
    width: 396px;
    position: relative;
  }

  .edit-two {
    width: 396px;
    flex-direction: column;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
  }

  .edit-button-contact {
    margin-top: -70px;
    z-index: 5;
  }
  .add-contact {
    position: relative;
    width: 396px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 30px;
    height: 300px;
  }

  .picture-and-form-contact {
    flex-direction: column;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
    width: 396px;
    padding: 0px 0px 0px 30px;
    height: 490px;
    z-index: 1;
  }

  .picture-new-contact {
    margin-top: -70px;
  }

  .cancel {
    display: none;
  }

  .form {
    align-items: center;
  }

  .close-mobile {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: none;
  }

  .mobile-back {
    right: 60px;
  }

  /* add Contact */
  .button-contact {
    display: none;
  }

  

  /* .mobil-edit-close {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
  } */

  .menu-mobile {
    position: fixed;
    bottom: 60px;
    right: 60px;
    cursor: pointer;
    border-radius: 80px;
  }


  .button-contact {
    width: 352px;
  }

  .contact-parting-line {
    width: 352px;
  }

  .contacts {
    width: 320px;
  }

  .container-and-new-contact-push {
    height: calc(100vh - 180px);
  }
  .edit-delet{
    right: -350px;
    bottom: -175px;
  }
}


@media (max-width:780px) {
.edit-delet{
  right: -244px;
}
}

@media (max-width:670px) {
  .contacts {
    width: 280px;
  }

  .contact-parting-line {
    width: 280px;
  }

  .contacts-name {
    font-size: 36px;
  }

  .button-name-contacts {
    font-size: 27px;
    height: 80px;
    width: 80px;
  }

  .mobile-back {
    right: 60px;
  }
}
@media (max-width:590px){
  .edit-delet{
  right: -60px;
}
}
@media (max-width:570px) {

  .container1 {
    margin-left: 0px;

  }

  .header-container {
    margin-left: 0px;
  }

  .container-and-new-contact-push {
    left: 0px;
    height: calc(100vh - 180px);
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width:440px) {
  .add-contact h1 {
    font-size: 47px;

  }

  .edit-one p {
    font-size: 47px;
  }

  .add-contact p {
    font-size: 24px;
  }

  .join-png {
    display: none;
  }

  .add-contact {
    width: 300px
  }

  .button-contact {
    width: 270px;
  }

  .contact-parting-line {
    width: 270px;
    padding-left: 0px;
  }

  .picture-and-form-contact {
    width: 300px
  }

  .form {
    width: 0px;
  }
}

@media (max-width:440px) {
  .contacts {
    padding: 0px;
  }
}
@media (max-width:405px){
  .edit-delet{
    right: 20px;
  }
}

@media(min-width:1008px) {
  .mobile-back {
    display: none;
  }

  .menu-mobile {
    display: none;
  }
  .mobile-contacts {
    display: none;
  }

}

@media(min-width:850px) {
 
  .close-mobile {
    display: none;
  }
}