/* CONTACT-CONTAINER */
.new-contacts {
  width: 456px;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-contact {
  background-color: rgb(42, 54, 71, 1);
  color: white;
  width: 352px;
  height: 56px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 21px;
  padding: 12px 0px 12px 0px;
  gap: 16px;
}

.button-contact:hover {
  background-color: rgb(0, 204, 255);
}

.contacts {
  display: flex;
  align-items: center;
  padding: 15px 24px 15px 24px;
  width: 352px;
  font-size: 20px;
  height: 78px;
  gap: 35px;
  border-radius: 10px;
}

.contacts:hover {
  background-color: rgb(209, 209, 209);
}

.names {
  gap: 5px;
  font-size: 20px;

}
.mail{
  font-size: 19px;
}

.button-name {
  height: 42px;
  width: 42px;
  border-radius: 80px;
  background-color: rgba(355, 122, 0, 1);
  color: white;
  font-size: 12px;
  border: white;
}
.create-contact{
  background-color: rgb(42, 54, 71, 1);
  color: white;
  width: 214px;
  height: 57px;
  border: 1px solid;
  border-radius: 10px;
  padding: 16px;
  gap: 4px;
  font-size: 21px;
  font-weight: 700px;
}
.create-contact:hover{
  cursor: pointer;
  background-color: rgb(0, 204, 255);
}
.cancel{
  height: 56px;
  width: 130px;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 16px;
  font-size: 24px;
  background-color: white;
}
.cancel:hover{
  cursor: pointer;
  color: rgb(0, 204, 255);
  border: 1px solid rgb(0, 204, 255);
}
.cancel-and-ceate{
  display: flex;
  gap: 24px;
}


.container1 {
  height: 928px;
  width: 456px;
  top: 96px;
  left: 28px;
  border-right: 1px lightgray solid;
  background-color: white;
  padding: 32px 24px 32px 24px;
  left: 28px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow: auto;

}

.all-container {
  display: flex;
  box-shadow: 0px 20px 30px grey;
}

.container2 {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgb(246, 247, 248);
  padding: 30px;
  height: 73px;
  font-size: 40px;
  box-shadow: 0px 0px 0px grey;

}

.container2 h1 {
  font-size: 73px;
}

.container2 p {
  font-size: 32px;
}

.parting-line {
  color: rgb(93, 190, 231);
  font-size: 73px;
  height: 59px;
  border: 3px;

}

.contact-parting-line {
  width: 352px;
  height: 16px;
  padding: 8px 0px 8px 0px;
  gap: 10px;
  color: rgba(209, 209, 209, 1);


}

.name-letter {
  width: 352px;
  height: 28px;
  font-size: 20px;
  line-height: 24px;
  padding: 17px 36px 17px 36px;
  gap: 8px;
  line-height: 24px;
  margin-left: 20px;
}

.new-contact-container {
  display: flex;
  position: absolute;
  top: 200px;
  left: 200px;

}

.backround-new-contact-container {
  background-color: rgb(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.add-contact {
  height: 594px;
  width: 467px;
  background-color: rgb(42, 54, 71);
  color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 66px 48px 66px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add-contact h1{
  font-size: 73px
}
.add-contact p{
  font-size: 27px;
}

form {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  padding: 13px 21px 13px 21px;
  gap: 10px;
  border: 1px lightgrey;
  top: 137px;
  left: 742px;
}
form input{
  width: 422px;
  height: 50px;
  gap: 8px;
  border-radius: 10px;
  justify-content: space-between;
  padding-left: 20px;
  font-size: 20px;
}

.picture-and-form-contact {
  height: 594px;
  width: 600px;
  display: flex;
  align-items: center;
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 66px 48px 66px 48px;
}
.d-none{
  display: none;
}
/* CONTACT-CONTAINER */