body {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 247, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h1,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* ============================
CSS FOR LOG-IN & REGISTER HTML
================================*/
.join-logo {
  position: absolute;
  top: clamp(10px, 3vw, 30px);
  left: clamp(35px, 8vw, 80px);
  width: clamp(65px, 10vw, 100px);
}
/* ====================================
  REGISTER BUTTON SECTION ON LOG-IN HTML
  ======================================*/
.register-button-section {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 60px;
  right: 80px;
}
.register-button-section p {
  font-size: 20px;
  font-weight: 400;
}
.register-button-section a {
  border: none;
  background-color: #2a3647;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

/* ========================
ARROW BACK ON REGISTER.HTML
============================*/
.back-to-logIn-arrow {
  position: absolute;
  top: clamp(30px, 6vw, 75px);
  left: clamp(15px, 6vw, 50px);
  cursor: pointer;
  width: 40px;
  height: 40px;
}
/* ==============================
  LOG-IN & REGISTER WINDOW SECTION
  ================================*/
.logIn-and-register-window-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(15px, 3vw, 31px);
  width: clamp(360px, 60vw, 650px);
  padding-block: clamp(10px, 3vw, 25px);
  background-color: white;
  border-radius: 30px;
}
/*================================= */
.logIn-and-register-window-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logIn-and-register-window-headline h1 {
  font-size: clamp(40px, 4vw, 61px);
}
.dividing-line {
  height: 3px;
  width: 150px;
  background-color: #29abe2;
  margin-top: 5px;
}
/* ================================= */
.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}
.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  height: clamp(25px, 5vw, 30px);
  width: clamp(290px, 50vw, 350px);
}
.input-box input {
  font-size: clamp(18px, 3vw, 22px);
  /* height: 100%; */
  border: none;
  flex-grow: 1;
  outline: none;
}
.input-box input::placeholder {
  color: #d1d1d1;
  padding-left: 20px;
  font-size: clamp(18px, 3vw, 22px);
}
.input-box img {
  width: 19px;
  margin-right: 10px;
}
/*===================================*/
.checkbox-div {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 24px;
}
.checkbox-div input {
  margin: unset;
  width: 20px;
  height: 20px;
}
.checkbox-div label {
  display: flex;
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 400;
}
.checkbox-div label p {
  color: rgb(168, 168, 168);
}
.checkbox-div label a {
  text-decoration: none;
  color: #29abe2;
}
/*===================================*/
.logIn-button-div {
  display: flex;
  gap: 35px;
}
.logIn-button-div button {
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
}
.logIn-button {
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: 700;
  border: none;
}
.guest-logIn-button {
  background-color: white;
  color: #2a3647;
  font-size: 21px;
  font-weight: 700;
  border: 2px solid #2a3647 !important;
}

.register-button {
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: 700;
  border: none;
  width: 125px;
}

/* ==========================
BORDER-ANIMATION WHEN ONCLICK
==============================*/
.border-animation {
  border: 1px solid #d1d1d1;
  transition: border 1s ease-in-out;
}
.border-animation.active {
  border-color: #29abe2;
}

/* ====================================
  PRIVACY POLICY & LEGAL NOTIVE CONTAINER
  =======================================*/
.rights-section {
  position: fixed;
  bottom: 30px;
  display: flex;
  gap: 20px;
  color: rgb(168, 168, 168);
}
.rights-section p {
  cursor: pointer;
}

/* ========================
CHECK PASSWORD REQUIREMENTS
============================*/
#Check_Requirements_Pop_Up {
  display: flex;
  background-color: #2a3647;
  position: fixed;
  top: 0;
  flex-direction: column;
  transform: translateY(-101%);
  border-radius: 0 0 20px 20px;
  padding: 15px;
}
.slide-down {
  animation: slideDown 2s forwards;
}
@keyframes slideDown {
  0% {
    transform: translateY(-101%);
  }
  100% {
    transform: translateY(0);
  }
}
#Check_Requirements_Pop_Up h3 {
  color: #29abe2;
  border-bottom: 1px solid whitesmoke;
  padding: 5px;
}
#Check_Requirements_Pop_Up span {
  display: flex;
  align-items: center;
}
.invalid {
  color: #b01717;
}
.valid {
  color: rgb(139, 194, 74);
  font-weight: bold;
}

/* ===========================
SIGNED UP SUCCESSFULLY MESSAGE
==============================*/
#Signed_Up_Successfully_Overlay {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.signed-up-successfully-msg {
  background-color: rgb(43, 54, 71);
  border-radius: 20px;
  color: white;
  font-size: 24px;
  padding: 25px;
}
.redirect-to-logIn-msg {
  display: flex;
  gap: 10px;
  background-color: rgb(43, 54, 71);
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 10px;
}

/* ==========
MEDIA-QUERIES
==============*/
@media (max-width: 680px) {
  .logIn-button-div {
    flex-direction: column;
    gap: 15px;
  }
  .register-button-section {
    top: unset;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
  }
}
