body {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 247, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h1,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* ============================
CSS FOR LOG-IN & REGISTER HTML
================================*/
.join-logo {
  position: absolute;
  top: 30px;
  left: 80px;
}
/* ====================================
  REGISTER BUTTON SECTION ON LOG-IN HTML
  ======================================*/
.register-button-section {
  display: flex;
  align-items: center;
  gap: 35px;
  position: absolute;
  top: 60px;
  right: 80px;
}
.register-button-section p {
  font-size: 20px;
  font-weight: 400;
}
.register-button-section button {
  border: none;
  background-color: #2a3647;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
}
/* ==============================
  LOG-IN & REGISTER WINDOW SECTION
  ================================*/
.logIn-and-register-window-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 650px;
  padding-block: 48px;
  background-color: white;
  border-radius: 30px;
}
/*================================= */
.logIn-and-register-window-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logIn-and-register-window-headline h1 {
  font-size: 61px;
}
.dividing-line {
  height: 3px;
  width: 150px;
  background-color: #29abe2;
  margin-top: 5px;
}
.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form-body input {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 5px;
  cursor: pointer;
  height: 40px;
  width: 300px;
  font-size: 21px;
}
.form-body input::placeholder {
  font-size: 21px;
}
.checkbox-div {
  display: flex;
  align-items: center;
  margin-left: 39px;
  gap: 8px;
  height: 24px;
}
.checkbox-div input {
  margin: unset;
  width: 24px;
  height: 24px;
}
.checkbox-div label {
  font-size: 20px;
  font-weight: 400;
}

.logIn-button-div {
  display: flex;
  gap: 35px;
}
.logIn-button-div button {
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
.logIn-button {
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: 700;
  border: none;
}
.guest-logIn-button {
  background-color: white;
  color: #2a3647;
  font-size: 21px;
  font-weight: 700;
  border: 2px solid #2a3647 !important;
}

.register-button {
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    background-color: #2a3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border: none;
    width: 125px;
  }



/* ====================================
  PRIVACY POLICY & LEGAL NOTIVE CONTAINER
  =======================================*/
.rights-section {
  position: fixed;
  bottom: 30px;
  display: flex;
  gap: 20px;
  color: rgb(168, 168, 168);
}
.rights-section p {
  cursor: pointer;
}
