body {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 247, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h1,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* =========
  LOG-IN PAGE
  ============*/
.join-logo {
  position: absolute;
  top: 30px;
  left: 80px;
}
/* ============
  LOG-IN WINDOW
  ===============*/
.logIn-window-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 650px;
  padding-block: 48px;
  background-color: white;
  border-radius: 30px;
}
.logIn-window-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logIn-window-headline h1 {
  font-size: 61px;
}
.dividing-line {
  height: 3px;
  width: 150px;
  background-color: #29abe2;
}
.email-and-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.email-and-password-form input {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 10px;
  cursor: pointer;
  height: 40px;
  width: 420px;
}
.email-and-password-form input::placeholder {
  font-size: 24px;
}
.checkbox-div {
  display: flex;
  align-items: center;
  margin-left: 39px;
  gap: 8px;
  height: 24px;
}
.checkbox-div input {
  margin: unset;
  width: 24px;
  height: 24px;
}
.checkbox-div label {
  font-size: 20px;
  font-weight: 400;
}

.logIn-button-div {
  display: flex;
  gap: 35px;
}
.logIn-button-div button {
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
.logIn-button {
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: 700;
}
.guest-logIn-button {
  background-color: white;
  color: #2a3647;
  font-size: 21px;
  font-weight: 700;
}

/* ===================
  SIGN-UP BUTTON SECTION
  ======================*/
.signUp-button-section {
  display: flex;
  align-items: center;
  gap: 35px;
  position: absolute;
  top: 67px;
  left: 1039px;
}
.signUp-button-section p {
  font-size: 20px;
  font-weight: 400;
}
.signUp-button-section button {
  border: none;
  background-color: #2a3647;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
}
/* ====================================
  PRIVACY POLICY & LEGAL NOTIVE CONTAINER
  =======================================*/
.rights-section {
  position: fixed;
  bottom: 30px;
  display: flex;
  gap: 20px;
  color: rgb(168, 168, 168);
}
.rights-section p {
  cursor: pointer;
}
