body {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 247, 248);
  overflow: hidden;
}

h1,
h3,
h2,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* ====
HEADER 
=======*/

.header-container {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.add-task-button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: rgb(43, 54, 71);
}

/* =======
INDEX.HTML
==========*/
.index-page {
  height: 100vh;
}
.index-page img {
  position: absolute;
  animation: swipe 3s forwards;
}

@keyframes swipe {
  0% {
    top: 50%;
    left: 50%;
    width: 275px;
    height: 335px;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 30px;
    left: 80px;
    width: 100px;
    height: 120px;
  }
}

/* ==========
SUMMARY.HTML
=============*/
.summary-main {
  display: flex;
  flex-direction: column;
  padding: clamp(5px, 2vw, 50px);
}
.summary-img-size {
  width: clamp(40px, 7vw, 70px);
}
/* ===================
TITLE & SLOGAN SECTION
======================*/
.summary-title-section {
  display: flex;
  align-items: center;
  gap: 30px;
}
.summary-title-section h1 {
  font-size: clamp(40px, 5vw, 61px);
}
.dividing-line {
  width: 4px;
  height: 50px;
  background-color: #29abe2;
  border-radius: 10px;
}
.summary-slogan {
  font-size: clamp(20px, 5vw, 27px);
}
/* =============================
TASK OVERVIEW & GREETINGS SECTION
================================*/
.summary-task-section {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 100px;
}
/*=================================================================*/
.summary-task-overview {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: clamp(340px, 90vw, 560px);
}
/*=================================================================*/
.summary-task-overview-toDo-and-done {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.summary-task-overview-toDo-and-done span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  width: 260px;
  height: clamp(110px, 26vw, 170px);
  gap: 15px;
}
.arrange-amount-and-status {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.amount-tasks {
  font-size: clamp(40px, 7vw, 64px);
}
.status-tasks {
  font-size: clamp(14px, 3vw, 20px);
}
/*=================================================================*/
.summary-task-overview-dueDates {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: navajowhite;
  height: 170px;
  border-radius: 30px;
}
.summary-task-overview-dueDates span {
  display: flex;
  align-items: center;
}
.dividing-line-task-overview-dueDates {
  width: 3px;
  height: 100px;
  background-color: gray;
}
.summary-upcoming-deadline-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.summary-upcoming-deadline-div p:first-of-type {
  font-size: 21px;
  font-weight: 700;
}
.summary-upcoming-deadline-div p:last-of-type {
  font-size: 16px;
  font-weight: 400;
}
/*=================================================================*/
.summary-task-overview-information {
  display: flex;
  justify-content: space-between;
}
.summary-task-overview-information div {
  width: clamp(110px, 26vw, 170px);
  height: clamp(110px, 26vw, 170px);
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary-task-overview-information div p:last-of-type {
  font-size: clamp(14px, 4vw, 21px);
  font-weight: 400;
  text-align: center;
}
/*=================================================================*/
.summary-greetings-div {
  display: flex;
  flex-direction: column;
}
.summary-greetings-div h3 {
  font-size: 47px;
  font-weight: 500;
}
.summary-greetings-div h2 {
  font-size: 64px;
  font-weight: 700;
  color: #29abe2;
}
