body {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 247, 248);
}

h1,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* ====
HEADER 
=======*/

.header-container {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.add-task-button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: rgb(43, 54, 71);
}
