body {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 247, 248);
  font-family: "Inter", sans-serif;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Inter-VariableFont_slnt\,wght.ttf") format("ttf");
}

h1,
h3,
h2,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.main-button-hover-effect:hover {
  background-color: #29abe2;
  filter: drop-shadow();
}

.pop-up-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* ============================
TO ADD SIDEBAR + HEADER TO HTML
================================*/
.sidebar-and-mainContent {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.header-and-mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}
/* ====
HEADER 
=======*/
.header-container {
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: clamp(20px, 6vw, 80px);
}
.help-and-initials-div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.circle {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid black;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(40, 171, 226);
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}
.circle:hover {
  background-color: rgb(226, 230, 236);
}
.summary-join-logo-header {
  display: none;
}
.add-task-button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: rgb(43, 54, 71);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: clamp(18px, 2vw, 21px);
}
.add-task-button:hover {
  background-color: rgb(40, 171, 226);
  box-shadow: -2px 2px 2px #ccc;
}
.drop-down-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(41, 54, 71);
  position: absolute;
  top: 100px;
  right: 4%;
  border-radius: 20px 0 20px 20px;
  padding: 10px;
}
.drop-down-header a {
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.drop-down-header a:hover {
  background-color: rgb(1, 17, 63);
}
/* =======
INDEX.HTML
==========*/
.index-page {
  height: 100vh;
}

.index-page img {
  position: absolute;
  animation: swipe 3s forwards;
}

@keyframes swipe {
  0% {
    top: 50%;
    left: 50%;
    width: 275px;
    height: 335px;
    transform: translate(-50%, -50%);
  }

  100% {
    top: 30px;
    left: 80px;
    width: 100px;
    height: 120px;
  }
}

/* ==========
SUMMARY.HTML
=============*/
.summary-main {
  display: flex;
  flex-direction: column;
  padding: clamp(15px, 2vw, 50px);
}

.summary-img-size {
  width: clamp(40px, 7vw, 70px);
}

/* ===================
TITLE & SLOGAN SECTION
======================*/
.summary-title-section {
  display: flex;
  align-items: center;
  gap: clamp(10px, 3vw, 30px);
}

.summary-title-section h1 {
  font-size: clamp(40px, 5vw, 61px);
}

.dividing-line {
  width: 4px;
  height: 50px;
  background-color: #29abe2;
  border-radius: 10px;
}

.summary-slogan {
  font-size: clamp(20px, 5vw, 27px);
}

/* =============================
TASK OVERVIEW & GREETINGS SECTION
================================*/
.summary-task-section {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: clamp(25px, 2vw, 100px);
}

/*=================================================================*/
.summary-task-overview {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: clamp(340px, 90vw, 560px);
}

/*=================================================================*/
.summary-task-overview-toDo-and-done {
  display: flex;
  justify-content: space-between;
  gap: clamp(10px, 3vw, 30px);
}

.summary-task-overview-toDo-and-done a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  width: clamp(150px, 45vw, 260px);
  height: clamp(100px, 26vw, 170px);
  gap: 15px;
  cursor: pointer;
  color: black;
}

.summary-hover-effect:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  background-color: rgb(41, 54, 71);
  filter: drop-shadow(2px 4px 6px black);
}
.summary-hover-effect:hover p {
  color: white;
}
.summary-hover-effect:hover .summary-done-tasks-hover {
  content: url("./assets/img/summary-doneTasks-hover.png");
}
.summary-hover-effect:hover .summary-todo-tasks-hover {
  content: url("./assets/img/summary-toDo-task-hover.png");
}
.arrange-amount-and-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.amount-tasks {
  font-size: clamp(40px, 7vw, 64px);
}

.status-tasks {
  font-size: clamp(14px, 3vw, 20px);
}

/*=================================================================*/
.summary-task-overview-dueDates {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: navajowhite;
  height: clamp(110px, 26vw, 170px);
  border-radius: 30px;
  cursor: pointer;
  color: black;
}

.summary-task-overview-dueDates span {
  display: flex;
  align-items: center;
}

.dividing-line-task-overview-dueDates {
  width: 3px;
  height: clamp(68px, 15vw, 100px);
  background-color: gray;
}
.summary-task-overview-dueDates:hover .dividing-line-task-overview-dueDates {
  background-color: white;
}

.summary-upcoming-deadline-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.summary-upcoming-deadline-div p:first-of-type {
  font-size: clamp(16px, 3vw, 21px);
  font-weight: 700;
}

.summary-upcoming-deadline-div p:last-of-type {
  font-size: clamp(14px, 3vw, 16px);
  font-weight: 400;
}

/*=================================================================*/
.summary-task-overview-information {
  display: flex;
  justify-content: space-between;
}

.summary-task-overview-information a {
  width: clamp(100px, 26vw, 170px);
  height: clamp(100px, 26vw, 170px);
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.summary-task-overview-information a p:last-of-type {
  font-size: clamp(14px, 4vw, 21px);
  font-weight: 400;
  text-align: center;
}

/*=================================================================*/
.summary-greetings-div {
  display: flex;
  flex-direction: column;
}

.summary-greeting {
  font-size: clamp(36px, 5vw, 47px);
  font-weight: 500;
}

.summary-greeting-name {
  font-size: clamp(47px, 7vw, 64px);
  font-weight: 700;
  color: #29abe2;
}
/* ===========
MEDIA-QUERIES
===============*/
@media (max-width: 605px) {
  .summary-title-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .summary-title-section h1 {
    order: 1;
  }

  .summary-title-section .dividing-line {
    order: 3;
    height: 2px;
    width: 50px;
  }

  .summary-title-section .summary-slogan {
    order: 2;
  }
}

@media (max-width: 850px) {
  .header-container span {
    display: none;
  }
  .summary-join-logo-header {
    display: flex;
  }
  .help-and-initials-div img {
    display: none;
  }
  .summary-task-section {
    justify-content: center;
  }
}

@media (max-width: 1050px) {
  .summary-greetings-div {
    display: none;
  }
}

/* ============
SIDEBAR NAVIGATION
===============*/
.sidebar {
  margin: 0;
  padding: 0;
  width: 232px;
  background-color: rgb(42, 54, 71);
  position: sticky;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-sidebar-img {
  padding-top: 64px;
}

.task-sidebar {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2vw, 25px);
  padding-top: 60px;
  width: 100%;
}
.active {
  background-color: rgb(1, 17, 63);
}

.task-sidebar img {
  width: clamp(20px, 5vw, 35px);
  height: clamp(20px, 5vw, 35px);
}

.span-sidebar {
  display: flex;
  align-items: center;
  color: rgb(205, 205, 205);
  gap: 10px;
  padding-left: 55px;
  padding-block: 10px;
}
.span-sidebar p {
  font-size: clamp(15px, 4vw, 18px);
}
a {
  text-decoration: none;
}

.span-sidebar:hover {
  background-color: rgb(1, 17, 63);
}

.impressum {
  color: rgb(205, 205, 205);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.impressum-color {
  color: rgb(205, 205, 205);
}
.impressum span:hover {
  cursor: pointer;
  color: rgb(0, 204, 255);
}
.impressum-sidebar {
  padding: 20px;
}

.privacy-policy {
  padding: 20px;
}
.privacy-polpcy-color {
  text-decoration: none;
  color: rgb(205, 205, 205);
}

@media (max-width: 850px) {
  .privacy-policy {
    padding-bottom: 100px;
  }
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    flex-direction: unset;
    z-index: 5;
  }
  .join-sidebar-img {
    display: none;
  }
  .span-sidebar {
    width: 80px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: unset;
    height: 100%;
  }
  .span-sidebar:hover {
    background-color: rgb(1, 17, 63);
    border-radius: 16px;
  }
  .task-sidebar {
    flex-direction: unset;
    padding-top: unset;
    justify-content: space-evenly;
    height: 80px;
  }
  .task-sidebar a {
    border-radius: 16px;
  }
  .task-sidebar a:hover {
    border-radius: 16px;
  }
  .impressum {
    display: none;
  }
}
