<div>

    <form class="add-task-section">
        <div class="add-task-container">
            <h1>Add Task</h1>
            <span>Title<span class="add-task-highlight-red">*</span></span>
            <input id="add_task_title" class="add-task-inputfield" required placeholder="Enter a title">

            <span>Description</span>
            <textarea id="add_task_description" class="add-task-inputfield" placeholder="Enter a Description"></textarea>

            <span>Assigned to</span>
            <select id="add_task_contacts_to_assign" placeholder="Select contacts to assign" class="add-task-inputfield">
                <option disabled selected>Select contacts to assign</option>            //NACHGUCKEN
                <option> (NAME 1) </option>
                <option> (NAME 2) </option>
                <option> (NAME 3) </option>
            </select>

            <span class="add-task-legend"><span class="add-task-highlight-red">*</span>This field is requiered</span>

        </div>



        
        <div class="add-task-container">

            <span>Due Date<span class="add-task-highlight-red">*</span></span>
            <input id="add_task_due_date" class="add-task-inputfield" required>
            
            <span>Prio</span>
            <div class="add-task-inputfield">
                    <button class="add-task-prio-button add-task-prio-button-urgent">Urgent</button>
                    <button class="add-task-prio-button add-task-prio-button-medium">Medium</button>
                    <button class="add-task-prio-button add-task-prio-button-low">Low</button>
            </div>

            <span>Category<span class="add-task-highlight-red">*</span></span>
            <select id="add_task_categorie" class="add-task-inputfield" required placeholder="Select task category">
                <option>Technical Task</option>
                <option>User Story</option>
            </select>

            <span>Subtasks</span>
            <input id="add_task_subtasks" class="add-task-inputfield" placeholder="Add new subtask">

            <div class="add-task-clear-and-create-task-buttons">
                <button>Clear</button>
                <button onclick="addToTasks()" class="add-task-button">Create Task</button>


            </div>









        </div>



    </form>

</div>