<main id="main_container" class="main-container">
    <div>
        <form onsubmit="createTask(); return false;" class="add-task-form-container" id="add_task_form">
            <div class="headline-and-close-button-container">
                <div>
                    <h1>Add Task</h1>
                </div>
                <div>
                    <img id="board_largeview_closebutton" onclick="closeAddTaskPopup()" src="./assets/img/close.svg">
                </div>
            </div>
            <div class="add-task-inputfield-container">
                <div class="add-task-inputfield-column ">
                    <span>Title<span class="add-task-highlight-red">*</span></span>
                    <input id="add_task_title" class="add-task-inputfield" required placeholder="Enter a title">
                    <span>Description</span>
                    <textarea id="add_task_description" class="add-task-inputfield"
                        placeholder="Enter a Description"></textarea>
                    <span>Assigned to</span>
                    <div onclick="toggleContactsDropdown(false)" class="add-task-inputfield add-task-inputfield-contacts">
                        <span id="add_task_placeholder" class="add-task-placeholder"> Select contacts to assign </span>
                        <img id="add-task-inputfield-arrow" class="add-task-inputfield-arrow"
                            src="./assets/img/arrow_drop_down.svg">
                    </div>
                    <div id="add_task_contacts_content">
                        <div id="add_task_contacts_container" class="add-task-contacts-container"></div> 
                        <div id="add_task_contacts_icons" class="add-task-contacts-icons"></div>
                    </div>
                </div>

                <div class="add-task-dividing-line"></div>

                <div class="add-task-inputfield-column ">
                    <span>Due Date<span class="add-task-highlight-red">*</span></span>
                    <input id="add_task_due_date" class="add-task-inputfield" type="date" required>
                    <div id="add_task_prio_container">
                        <span>Prio</span>
                        <div class="add-task-prio-button-container">
                            <button onclick="setTaskPriority('urgent'); changeButtonColor(false)"
                                id="add_task_prio_button_urgent" class="add-task-prio-button" type="button">
                                <span> Urgent </span>
                                <img id="add_task_prio_icon_urgent" class="add-task-prio-icon"
                                    src="./assets/img/priorityUrgent.svg">
                            </button>
                            <button onclick="setTaskPriority('medium'); changeButtonColor(false)"
                                id="add_task_prio_button_medium"
                                class="add-task-prio-button add-task-prio-button-yellow" type="button">
                                <span> Medium </span>
                                <img id="add_task_prio_icon_medium" class="add-task-prio-icon add-task-prio-icon-white "
                                    src="./assets/img/priorityMedium.svg">
                            </button>
                            <button onclick="setTaskPriority('low'); changeButtonColor(false)"
                                id="add_task_prio_button_low" class="add-task-prio-button" type="button">
                                <span> Low </span>
                                <img id="add_task_prio_icon_low" class="add-task-prio-icon"
                                    src="./assets/img/priorityLow.svg">
                            </button>
                        </div>
                    </div>
                    <div id="add_task_category_container">
                        <span>Category<span class="add-task-highlight-red">*</span></span>
                        <select id="add_task_category" class="add-task-inputfield add-task-category" required>
                            <option class="add-task-placeholder" value="" disabled selected hidden>Select task category
                            </option>
                            <option class="add-task-category-option" value="Technical Task">Technical Task</option>
                            <option value="User Story">User Story</option>
                        </select>
                    </div>
                    <span>Subtasks</span>
                    <div class="add-task-subtasks-container">
                        <input id="add_task_subtasks_inputfield"
                            class="add-task-inputfield add-task-subtasks-inputfield " placeholder="Add new subtask">
                        <img onclick="addNewSubtask(false)" id="add_task_subtask_plus_button"
                            class="add-task-subtask-plus-button" src="./assets/img/plus.svg">
                    </div>
                    <div id="add_task_new_subtasks_container" class="add-task-new-subtasks-container">
                        <ul id="add_task_subtasks_list" class="add-task-subtasks-list">
                        </ul>
                    </div>
                    <div class="add-task-clear-and-create-task-buttons-desktop-design">
                        <button onclick="clearAddTaskForm()" type="reset" class="add-task-clear-button">
                            <span>Clear</span>
                            <img src="./assets/img/closeBlue.svg">
                        </button>
                        <button type="submit" class="add-task-button">
                            <span> Create Task</span>
                            <img src="./assets/img/check.png">
                        </button>
                    </div>
                </div>
            </div>

            <div class="add-task-legend-and-form-buttons">
                <span class="add-task-legend">
                    <span class="add-task-highlight-red">*</span>This field is required
                </span>
                <div class="add-task-clear-and-create-task-buttons-responsive-design">
                    <button onclick="clearAddTaskForm()" type="reset" id="add_task_clear_button" class="add-task-clear-button">
                        <span>Clear</span>
                        <img class="add-task-clear-button-img" src="./assets/img/closeBlue.svg">
                    </button>
                    <button type="submit" class="add-task-button add-task-button-responsive">
                        <span> Create Task</span>
                        <img class="add-task-create-button-img" src="./assets/img/check.png">
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>